body {
    background-color: aliceblue;
}
.block-title{
    font-weight: 600;
    font-size: 30px;
    color: #eb1515;
    text-align: center;
    margin: 20px 0;
    
}
.header_subtitles{
    text-align: center;
    margin: 20px 0;
    
}
.btn-size{
    width: 60px;
    height: 40px;
    border-radius:10px ;

    background-color: rgb(248, 10, 208);
    color: rgb(241, 244, 247);
    font-size: 14px;
}
.btn-size:hover{
    background-color:rgb(73, 12, 70) ;
}
.card{
    border: 2px solid black;
    width: 500px;
    background-color: rgb(192, 238, 238);
    display: flex;
    margin: 10px;
    box-shadow: 7px 7px black
    
}
.size{
    display: flex;
    justify-content: space-between;
    width: 200;
    align-items: center;
}
.counter{
    display: flex;
    align-items: center;
}
#value{
    margin: 0px 10px;
}
.price{
    margin-left: 30px;
    font-size: 30px;

}
#buy{
    width: 90%;
    height: 40px;
    background-color: blueviolet;
    color: rgb(248, 248, 248);
    font-size: 14px;
    border-radius: 10px;
}
.active{
    background-color: rgb(234, 146, 241);
}
.shop{
    display: flex;
    
   
    

}
.shop2{
    display: flex;
    
    
    
   
    

}